# Firebase Configuration for Courier Mobile App
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCHWynUsudT89nbd4XaRTHsajjlxL-WmNs
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=food-delivery-prod-b474f.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=food-delivery-prod-b474f
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=food-delivery-prod-b474f.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=203999238087
EXPO_PUBLIC_FIREBASE_APP_ID=1:203999238087:web:5bb682b683710032926be2

# Google Maps API Key for turn-by-turn navigation & directions
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCi-MWuhMrs1DfJqTycPWS8N9KorPuAs-0
